{% extends 'base.html.twig' %}

{% block title %}Hello PruebaFuniberController!{% endblock %}

{% block body%}
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Sonido ConsultadO</h3>
  </div>
  <div class="panel-body">
    {{ mensaje }}
  </div>
</div>


{% endblock %}